// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import url('./partials/toatifyer.scss');
@import url('./partials/winning.scss');

/* Colours */
$primary-colour: #363636;
$body-background: #ffffff;
$primary-orange: #f26b42;
$secondary-orange: #f28d6e;
$primary-cyan: #58c5c7;
$secondary-cyan: #7fd1d2;
$primary-lime: #a5c653;
$secondary-lime: #b9d17b;
$primary-grey: #e1e1e1;
$secondary-grey: #ededed;
$border-grey: #d1d1d1;

/* fonts */
$header-font: "Poppins",
sans-serif;
$body-font: "Assistant",
sans-serif;

body {
    font-family: $body-font;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: $header-font;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
}

h3 {
    font-family: $body-font;
    font-weight: 300;
    text-transform: none;
}

p {
    font-weight: 400;
}

strong {
    font-weight: 700;
}

/* Utilities */
.no-padding {
    padding: 0 !important;
}

/* width */
.container {
    width: 1080px;
}

/* Table Heading */
.pricing-top-heading th {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    width: 33%;
}

.pricing-bottom-heading th {
    padding: 0 2%;
    font-weight: 300;
}

.pricing-top-heading .free {
    background-color: $primary-orange;
    border: 1px solid $primary-orange;
}

.pricing-bottom-heading .free {
    background-color: $secondary-orange;
    border: 1px solid $secondary-orange;
}

.pricing-top-heading .basic {
    background-color: $primary-cyan;
    border: 1px solid $primary-cyan;
}

.pricing-bottom-heading .basic {
    background-color: $secondary-cyan;
    border: 1px solid $secondary-cyan;
}

.pricing-top-heading .pro {
    background-color: $primary-lime;
    border: 1px solid $primary-lime;
}

.pricing-bottom-heading .pro {
    background-color: $secondary-lime;
    border: 1px solid $secondary-lime;
}

.pricing-top-heading,
.pricing-bottom-heading {
    color: white;
    height: 90px;
}

table thead th {
    border: 0;
}

/* table */
table {
    width: 100%;
}

.collapsible-section-header {
    background-color: $primary-grey;
}

.collapsible-section-header a {
    color: $primary-colour;
    font-weight: 700;
    text-decoration: none;
}

.collapsible-section-header a:after {
    content: "\25bc";
    padding-left: 0.5em;
}

.collapsible-section-header a.collapsed:after {
    content: "\25ba";
    padding-left: 0.5em;
}

tbody td {
    background-color: $secondary-grey;
    border: 1px solid $border-grey;
    padding: 1.25rem;
}

#lang-country option {
    background-color: #03478b;
    color: white;
}

#lang-country option:hover {
    background-color: #03478b;
    color: #363636;
}