@import url('../utils.css');

/*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 112px;
    overflow: clip;
  }
  
  @media (max-width: 1199px) {
  
    section,
    .section {
      scroll-margin-top: 100px;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  .section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  

  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero {
    width: 100%;
    position: relative;
    padding: 140px 0 0 0;
  }
  
  .hero .container {
    position: relative;
    z-index: 3;
  }
  
  .hero h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero h2 .accent {
    color: var(--conrast-color);
  }
  
  .hero p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .hero .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    background-color: color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .hero .btn-get-started:hover {
    border-color: color-mix(in srgb, var(--default-color), transparent 60%);
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    font-weight: 600;
    color: var(--default-color);
  }
  
  .hero .btn-watch-video i {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover i {
    color: var(--default-color);
  }
  
  @media (max-width: 640px) {
    .hero h2 {
      font-size: 36px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 14px;
    }
  }
  
  .hero .icon-boxes {
    padding-bottom: 60px;
    z-index: 4;
  }
  
  @media (min-width: 1200px) {
    .hero .icon-boxes:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: calc(50% + 20px);
      background-color: var(--default-color);
      border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    }
  }
  
  .hero .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: var(--background-color);
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .hero .icon-box .title a {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: 0.3s;
  }
  
  .hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .hero .icon-box:hover {
    background-color: color-mix(in srgb, var(--background-color), white 10%);
  }
  
  .hero .icon-box:hover .title a,
  .hero .icon-box:hover .icon {
    color: var(--contrast-color);
  }
  


/*------------------------------------------------
              Global About 
-------------------------------------------------*/
.about h3 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.about .fst-italic {
  color: color-mix(in srgb, var(--default-color), var(--contrast-color) 50%);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 10px 30px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--accent-color);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .pulsating-play-btn {
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
}

/*--------------------------------------------------------------
  # Clients Section
  --------------------------------------------------------------*/
  .clients .swiper {
    padding: 10px 0;
  }
  
  .clients .swiper-wrapper {
    height: auto;
  }
  
  .clients .swiper-slide img {
    transition: 0.3s;
  }
  
  .clients .swiper-slide img:hover {
    transform: scale(1.1);
  }

/*--------------------------------------------------------------
  # Stats Section
  --------------------------------------------------------------*/
  .stats .stats-item {
    padding: 10px;
  }
  
  .stats .stats-item i {
    font-size: 44px;
    color: var(--accent-color);
    line-height: 0;
    margin-right: 15px;
  }
  
  .stats .stats-item .purecounter {
    color: var(--heading-color);
    font-size: 40px;
    display: block;
    font-weight: 700;
    line-height: 40px;
  }
  
  .stats .stats-item p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    padding: 15px 0 0 0;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 14px;
  }
  