/* Initialisation des variables à utiliser dans le fichiers  */

/* variables de police de caractère  */
:root{
    --heading-font: "Montserrat",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Variables pour les couleurs à utiliser sur l'application  */
:root{
    --background-color: #ffffff;
    --default-color:#222222;
    --heading-color: #172a28; 
    --accent-color: #db1b1b;
    --surface-color: #ffffff; 
    --contrast-color: #ffffff; 
}


/* Variables de couleurs pour la bar de navigation  */
:root {
    --nav-color: #ffffff; 
    --nav-hover-color: #db1b1b; 
    --nav-mobile-background-color: #ffffff; 
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #01433c; 
    --nav-dropdown-hover-color: #db1b1b;
  }
  
  
  .light-background {
    --background-color: #f2f9f9;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
  }
  
  .accent-background {
    --background-color: #db1b1b;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --accent-color: #ffffff;
    --surface-color: #00b6a1;
    --contrast-color: #ffffff;
  }

   /* Smooth scroll */
 :root {
  scroll-behavior: smooth;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}